<h1 class='view-title'><%= t '.title' %></h1>

<div class='flex gap-12'>
  <section id="block-cpf" class='w-2/5 flex flex-col gap-4'>
    <h2 class='view-subtitle'><%= t '.block_cpf_subtitle' %></h2>

    <%= form_with url: blocked_cpfs_path, class: '' do |f| %>
      <%= f.text_field :cpf, placeholder: t('.cpf_placeholder') %>
      <%= f.submit t('.submit'), class: 'form-submit' %>
    <% end %>
  </section>

  <section id="blocked-cpfs" class='w-3/5 flex flex-col gap-4'>
    <h2 class='view-subtitle'><%= t '.blocked_cpf_subtitle' %></h2>
    
    <% if @blocked_cpfs.present? %>
      <% @blocked_cpfs.each do |cpf| %>
        <div class='p-4 flex items-center justify-between bg-secondary rounded'>
          <%= format_cpf(cpf.cpf) %>
          <%= link_to "Desbloquear", blocked_cpf_path(cpf), data: { turbo_method: :delete }, class: "px-4 py-2 bg-red-400 text-black font-semibold hover:scale-105 transition-all rounded" %>
        </div>
      <% end %>
    <% else %>
      <p class='text-neutral-300'><%= t '.not_found_message' %></p>
    <% end %>
  </section>
</div>
