<h1 class='view-title'><%= t '.title' %></h1>

<div class='flex flex-col gap-4'>
  <% if @batches.any? %>
    <% @batches.each do |b| %>
      <%= link_to batch_path(b), class: 'p-4 bg-secondary hover:scale-105 transition-all rounded' do %>
        <%= t '.prefix' %> <%= b.code %>
      <% end %>
    <% end %>
  <% else %>
    <p class='text-neutral-300'><%= t '.not_found_message' %></p>
  <% end %>
</div>
