<h1 class='view-title'><%= t '.title' %></h1>

<%= form_with model: @batch, class: 'm-auto' do |f| %>
  <div class='form-field'>
    <%= f.label :code %>
    <%= f.text_field :code, value: @code_suggestion %>

    <% if @batch.errors[:code].any? %>
      <span class='errors'><%= @batch.errors[:code].join(', ') %></span>
    <% end %>
  </div>

  <div class='flex gap-4'>
    <div class='form-field w-full'>
      <%= f.label :start_date %>
      <%= f.date_field :start_date %>

      <% if @batch.errors[:start_date].any? %>
        <span class='errors'><%= @batch.errors[:start_date].join(', ') %></span>
      <% end %>
    </div>

    <div class='form-field w-full'>
      <%= f.label :end_date %>
      <%= f.date_field :end_date %>

      <% if @batch.errors[:end_date].any? %>
        <span class='errors'><%= @batch.errors[:end_date].join(', ') %></span>
      <% end %>
    </div>
  </div>

  <div class='flex gap-4'>
    <div class='form-field w-full'>
      <%= f.label :min_bid_in_centavos %>
      <%= f.text_field :min_bid_in_centavos %>

      <% if @batch.errors[:min_bid_in_centavos].any? %>
        <span class='errors'><%= @batch.errors[:min_bid_in_centavos].join(', ') %></span>
      <% end %>
    </div>

    <div class='form-field w-full'>
      <%= f.label :min_diff_between_bids_in_centavos %>
      <%= f.text_field :min_diff_between_bids_in_centavos %>

      <% if @batch.errors[:min_diff_between_bids_in_centavos].any? %>
        <span class='errors'><%= @batch.errors[:min_diff_between_bids_in_centavos].join(', ') %></span>
      <% end %>
    </div>
  </div>

  <%= f.submit t('.submit'), class: 'form-submit' %>
<% end %>
