<div class='my-6 flex items-center justify-between'>
  <div>
    <h1 class='view-title my-0'><%= t '.title' %> <%= @batch.code %></h1>
    <div class='flex flex-col'>
      <span><%= t '.creator_description' %> <%= @batch.get_creator_description %></span>
    </div>
  </div>

  <% if @batch.approver.present? %>
    <div class='px-4 py-2 flex items-center gap-2 text-black text-sm bg-emerald-300 rounded'>
      <%= t '.approver_description' %> <%= @batch.approver.name %>
    </div>
  <% end %>

  <% if user_signed_in? && current_user.is_admin %>
    <div id='admin-menu' class='flex gap-4'>
      <% if @batch.expired? && @batch.bids.present? %>
        <%= button_to false, class: "px-4 py-2 flex items-center gap-2 bg-amber-400 text-black hover:scale-105 transition-all rounded" do %>
          <%= t '.close_batch_button_text' %>
          <i class="fa-solid fa-money-bill-wave text-sm animate-pulse"></i>
        <% end %>
      <% elsif @batch.expired? && @batch.bids.blank? %>
        <%= button_to false, class: "px-4 py-2 flex items-center gap-2 bg-red-400 text-black hover:scale-105 transition-all rounded" do %>
          <%= t '.cancel_batch_button_text' %>
          <i class="fa-solid fa-recycle text-sm animate-pulse"></i>
        <% end %>
      <% end %>

      <% if @batch.approver.blank? && current_user != @batch.creator %>
        <% if @batch.waiting_start? || @batch.in_progress? %>
          <%= button_to approve_batch_path, class: "px-4 py-2 flex items-center gap-2 bg-black text-white hover:scale-105 transition-all rounded" do %>
            <%= t '.approve_batch_button_text' %>
            <i class="fa-regular fa-circle text-sm animate-pulse"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class='mb-10 flex flex-col gap-2'>
  <span><strong><%= t '.start_date' %>:</strong> <%= l(@batch.start_date) %></span>
  <span><strong><%= t '.end_date' %>:</strong> <%= l(@batch.end_date) %></span>
  <span><strong><%= t '.min_bid_in_centavos' %>:</strong> <%= @batch.min_bid_in_centavos %> centavos</span>
  <span><strong><%= t '.min_diff_between_bids_in_centavos' %>:</strong> <%= @batch.min_diff_between_bids_in_centavos %> centavos</span>
</div>

<% if @batch.approver.present? && (@batch.in_progress? || @batch.expired?) %>
  <div id='bids-session' class='mb-10 flex flex-col gap-2'>
    <h2 class='view-subtitle'><%= t '.bids' %></h2>
    
      <div class='flex items-center justify-between'>
        <div class='px-4 py-2 flex items-center gap-2 text-black text-sm bg-emerald-300 hover:animate-pulse rounded'>
          <%= t '.current_winning_bid' %>:
          <% if @bids.present? %>
            <%= @bids.first.value_in_centavos %> centavos
          <% else %>
            <%= t '.no_bid_value' %>
          <% end %>
        </div>
        
        <% if !@batch.expired? && (user_signed_in? && !current_user.is_admin) %>
          <%= form_with scope: :bid, url: batch_bids_path(@batch), class: 'flex flex-row' do |f| %>
            <%= f.number_field :value_in_centavos, placeholder: 'Faça seu lance' %>
            <%= f.submit t('.make_bid_button_text'), class: 'form-submit m-0' %>
          <% end %>
        <% end %>
      </div>
  </div>
<% end %>

<div id='items-session' class='mb-8 flex flex-col gap-4'>
  <div class='flex items-center justify-between'>
    <h2 class='view-subtitle'><%= t '.linked_products' %></h2>

    <% if user_signed_in? && current_user.is_admin %>
      <% if @batch.approver.blank? && (@batch.waiting_start? || @batch.in_progress?) %>
        <%= form_with url: add_product_batch_path, method: :patch, class: 'flex flex-row' do |f| %>
          <%= f.collection_select :product_id, @products, :id, :name, prompt: t('.add_product') %>
          <%= f.submit t('.add_product_button_text'), class: 'form-submit m-0' %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if @batch.products.any? %>
    <% @batch.products.each do |p| %>
      <%= link_to product_path(p), class: 'p-4 flex flex-col gap-2 bg-secondary hover:scale-105 transition-all rounded' do %>
        <span class='text-white'><%= p.name %></span>
        <span class='text-white text-xs italic'><%= p.code %></span>
      <% end %>
    <% end %>
  <% else %>
    <p class='text-neutral-300'><%= t '.not_found_message' %></p>
  <% end %>
</div>
