<h1 class='view-title'><%= t '.title' %> <%= @batch.code %></h1>

<div class='flex flex-col gap-2'>
  <span><strong><%= t '.start_date' %>:</strong> <%= @batch.start_date %></span>
  <span><strong><%= t '.end_date' %>:</strong> <%= @batch.end_date %></span>
  <span><strong><%= t '.minimum_bid' %>:</strong> <%= @batch.minimum_bid %></span>
  <span><strong><%= t '.minimum_difference_between_bids' %>:</strong> <%= @batch.minimum_difference_between_bids %></span>
</div>
