<h1 class='view-title'><%= t '.won_title' %></h1>

<div id='batches-won' class='flex flex-col gap-4'>
  <% if @won_batches.present? %>
    <% @won_batches.each do |b| %>
      <%= link_to batch_path(b), class: 'p-4 bg-secondary hover:scale-105 transition-all rounded' do %>
        <%= t '.prefix' %> <%= b.code %>
      <% end %>
    <% end %>
  <% else %>
    <p class='text-neutral-300'><%= t '.won_title_not_found_message' %></p>
  <% end %>
</div>
