<h1 class='view-title'><%= t '.title' %></h1>

<%= form_with model: @lot, class: 'm-auto' do |f| %>
  <div class='form-field'>
    <%= f.label :code %>
    <%= f.text_field :code, value: @code_suggestion %>

    <% if @lot.errors[:code].any? %>
      <span class='errors'><%= @lot.errors[:code].join(', ') %></span>
    <% end %>
  </div>

  <div class='flex gap-4'>
    <div class='form-field w-full'>
      <%= f.label :start_date %>
      <%= f.date_field :start_date %>

      <% if @lot.errors[:start_date].any? %>
        <span class='errors'><%= @lot.errors[:start_date].join(', ') %></span>
      <% end %>
    </div>

    <div class='form-field w-full'>
      <%= f.label :end_date %>
      <%= f.date_field :end_date %>

      <% if @lot.errors[:end_date].any? %>
        <span class='errors'><%= @lot.errors[:end_date].join(', ') %></span>
      <% end %>
    </div>
  </div>

  <div class='flex gap-4'>
    <div class='form-field w-full'>
      <%= f.label :min_bid_in_reais %>
      <%= f.number_field :min_bid_in_reais, placeholder: t('.value_placeholder') %>

      <% if @lot.errors[:min_bid_in_reais].any? %>
        <span class='errors'><%= @lot.errors[:min_bid_in_reais].join(', ') %></span>
      <% end %>
    </div>

    <div class='form-field w-full'>
      <%= f.label :min_diff_between_bids_in_reais %>
      <%= f.number_field :min_diff_between_bids_in_reais, placeholder: t('.value_placeholder') %>

      <% if @lot.errors[:min_diff_between_bids_in_reais].any? %>
        <span class='errors'><%= @lot.errors[:min_diff_between_bids_in_reais].join(', ') %></span>
      <% end %>
    </div>
  </div>

  <%= f.submit t('.submit'), class: 'form-submit' %>
<% end %>
