<section id ='lot-infos'>
  <div class='my-6 flex items-center justify-between'>
    <div>
      <h1 class='view-title my-0'><%= t '.title' %> <%= @lot.code %></h1>
      <div class='flex flex-col'>
        <span><%= t '.creator_description' %> <%= @lot.get_creator_description %></span>
      </div>
    </div>
  
    <div class='flex gap-4'>
      <% if @lot.approver.present? %>
        <div class='px-4 py-2 flex items-center gap-2 text-black text-sm bg-emerald-300 rounded'>
          <%= t '.approver_description' %> <%= @lot.approver.name %>
        </div>
  
        <% if @lot.buyer.present? %>
          <div class='px-4 py-2 flex items-center gap-2 text-black text-sm bg-amber-300 rounded'>
            <%= t '.buyer_description' %> <%= @lot.buyer.name %>
            <i class="fa-solid fa-star text-sm text-amber-900"></i>
          </div>
        <% end %>
      <% end %>
  
      <% if user_signed_in? && current_user.is_admin %>
        <div id='admin-menu' class='flex gap-4'>
          <% if @lot.buyer.blank? && (@lot.expired? && @lot.bids.present?) %>
            <%= button_to close_lot_path(@lot), method: :patch, class: "px-4 py-2 flex items-center gap-2 bg-amber-300 text-black hover:scale-105 transition-all rounded" do %>
              <%= t '.close_lot_button_text' %>
              <i class="fa-solid fa-money-bill-transfer text-sm animate-pulse"></i>
            <% end %>
          <% elsif @lot.expired? && @lot.bids.blank? %>
            <%= button_to cancel_lot_path(@lot), method: :delete, class: "px-4 py-2 flex items-center gap-2 bg-red-400 text-black hover:scale-105 transition-all rounded" do %>
              <%= t '.cancel_lot_button_text' %>
              <i class="fa-solid fa-recycle text-sm animate-pulse"></i>
            <% end %>
          <% end %>
  
          <% if @lot.approver.blank? && current_user != @lot.creator %>
            <% if @lot.waiting_start? || @lot.in_progress? %>
              <%= button_to approve_lot_path, class: "px-4 py-2 flex items-center gap-2 bg-black text-white hover:scale-105 transition-all rounded" do %>
                <%= t '.approve_lot_button_text' %>
                <i class="fa-regular fa-circle text-sm animate-pulse"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class='mb-10 flex flex-col gap-2'>
    <span><strong><%= t '.start_date' %>:</strong> <%= l(@lot.start_date) %></span>
    <span><strong><%= t '.end_date' %>:</strong> <%= l(@lot.end_date) %></span>
    <span><strong><%= t '.min_bid_in_centavos' %>:</strong> <%= centavos_to_reais(@lot.min_bid_in_centavos, with_unit: true) %></span>
    <span><strong><%= t '.min_diff_between_bids_in_centavos' %>:</strong> <%= centavos_to_reais(@lot.min_diff_between_bids_in_centavos, with_unit: true) %></span>
  </div>
</section>

<% if @lot.approver.present? && (@lot.in_progress? || @lot.expired?) %>
  <section id='bids' class='mb-10 flex flex-col gap-2'>
    <h2 class='view-subtitle'><%= t '.bids' %></h2>
    
      <div class='flex items-center justify-between'>
        <div class='px-4 py-2 flex items-center gap-2 text-black text-sm bg-emerald-300 hover:animate-pulse rounded'>
          <% if @bids.present? %>
            <%= t '.current_winning_bid' %>:

            <span class='font-semibold'>
              <i id='money-sign' class='fa-solid fa-brazilian-real-sign'></i>
              <%= centavos_to_reais(@bids.first.value_in_centavos, with_unit: false) %>
            </span>
          <% else %>
            <%= t '.no_bid_value' %>
          <% end %>
        </div>
        
        <% if !@lot.expired? && (user_signed_in? && !current_user.is_admin) %>
          <%= form_with url: lot_bids_path(@lot), class: 'flex flex-row' do |f| %>
            <%= f.number_field :value_in_reais, placeholder: 'Lance em reais' %>
            <%= f.submit t('.make_bid_button_text'), class: 'form-submit m-0' %>
          <% end %>
        <% end %>
      </div>
  </section>
<% end %>

<section id='items' class='mb-8 flex flex-col gap-4'>
  <div class='flex items-center justify-between'>
    <h2 class='view-subtitle'><%= t '.linked_products' %></h2>

    <% if user_signed_in? && current_user.is_admin %>
      <% if @lot.approver.blank? && (@lot.waiting_start? || @lot.in_progress?) %>
        <%= form_with url: add_product_lot_path, method: :patch, class: 'flex flex-row' do |f| %>
          <%= f.collection_select :product_id, @products, :id, :name, prompt: t('.add_product') %>
          <%= f.submit t('.add_product_button_text'), class: 'form-submit m-0' %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if @lot.products.any? %>
    <% @lot.products.each do |p| %>
      <%= link_to product_path(p), class: 'p-4 flex flex-col gap-2 bg-secondary hover:scale-105 transition-all rounded' do %>
        <span class='text-white'><%= p.name %></span>
        <span class='text-white text-xs italic'><%= p.code %></span>
      <% end %>
    <% end %>
  <% else %>
    <p class='text-neutral-300'><%= t '.not_found_message' %></p>
  <% end %>
</section>
