<h1 class='view-title'><%= t '.won_title' %></h1>

<section id='lots-won' class='flex flex-col gap-4'>
  <% if @won_lots.present? %>
    <% @won_lots.each do |lot| %>
      <%= link_to lot_path(lot), class: 'p-4 bg-secondary hover:scale-105 transition-all rounded' do %>
        <div class='flex flex-col gap-2'>
          <span><%= t '.prefix' %> <%= lot.code %></span>
          <span class='text-xs italic'><%= lot.creator_description %></span>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p class='text-neutral-300'><%= t '.not_found_messages' %></p>
  <% end %>
</section>
