<div class='my-6 flex items-center justify-between'>
  <h1 class='view-title my-0'><%= @category.name %></h1>

  <% if user_signed_in? && user_is_admin? %>
    <%= button_to t('.remove_button_text'), false, class: 'p-2 bg-red-400 text-white rounded' %>
  <% end %>
</div>

<div class='flex flex-col gap-4'>
  <% if @category.products.any? %>
    <% @category.products.each do |product| %>
      <%= link_to product_path(product), class: 'p-4 flex justify-between bg-secondary hover:scale-105 transition-all rounded' do %>
        <div class='flex flex-col gap-2'>
          <span class='text-white'><%= product.name %></span>
          <span class='text-white text-xs italic'><%= product.code %></span>
        </div>

        <% if product.available? %>
          <% status_color = 'bg-emerald-300' %>
        <% elsif product.unavailable? %>
          <% status_color = 'bg-neutral-300' %>
        <% else %>
          <% status_color = 'bg-amber-300' %>
        <% end %>

        <div class='px-4 py-2 w-[122px] flex items-center justify-center self-center text-black text-sm font-semibold <%= status_color %> rounded'>
          <%= t product.status %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p class='my-4 text-center'><%= t '.not_found_message' %></p>
  <% end %>
</div>
