<div class='my-6 flex items-center justify-between'>
  <div>
    <h1 class='view-title my-0'><%= @product.name %></h1>
    <span class='italic'><%= @product.description %></span>
  </div>

  <% if current_user.present? && current_user.is_admin %>
    <%= button_to t('.remove_product'), false, class: 'p-2 bg-red-400 text-white rounded' %>
  <% end %>
</div>

<div class='flex flex-col gap-2'>
  <% if @product.category.present? %>
    <span><strong><%= t '.category' %>:</strong> <%= @product.category.name %></span>
  <% else %>
    <span><strong><%= t '.category' %>:</strong> <%= t '.without_category' %></span>
  <%end%>
  <span><strong><%= t '.weight' %>:</strong> <%= @product.weight %>g</span>
  <span><strong><%= t '.width' %>:</strong> <%= @product.width %>cm</span>
  <span><strong><%= t '.height' %>:</strong> <%= @product.height %>cm</span>
  <span><strong><%= t '.depth' %>:</strong> <%= @product.depth %>cm</span>

  <div class='flex items-center gap-4'>
    <strong><%= t '.batch' %>:</strong>

    <% if @product.batch.present? %>
      <%= link_to @product.batch.code, @product.batch, class: 'underline hover:text-primary' %>

      <% if current_user.present? && current_user.is_admin %>
        <%= button_to t('.unlink_batch_button_text'), unlink_batch_product_path, method: :patch, class: 'p-2 bg-black text-white rounded' %>
      <% end %>
    <% else %>
      <%= t '.without_batch' %>

      <% if current_user.present? && current_user.is_admin %>
        <%= form_with url: link_batch_product_path, method: :patch, id: 'link-batch', class: 'flex flex-row' do |f| %>
          <%= f.collection_select :batch_id, @batches, :id, :get_description, prompt: t('.link_batch') %>
          <%= f.submit t('.link_batch_button_text'), class: 'form-submit m-0' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class='mb-8 flex flex-col gap-4'>
  <h2 class='view-title'><%= t '.product_image' %></h2>

  <% if @product.image.attached? %>
    <%= image_tag @product.image, size: '250', title: @product.name, alt: "imagem #{@product.name}" %>
  <% else %>
    <p class='text-neutral-300'><%= t '.not_found_message' %></p>
  <% end %>
</div>
