<div class='my-6 flex items-center justify-between'>
  <div>
    <h1 class='view-title my-0'><%= @product.name %></h1>
    <span class='italic'><%= @product.description %></span>
  </div>

  <% if user_signed_in? && current_user.is_admin %>
    <% if @product.lot.blank? || (@product.lot.approver.blank? && !@product.lot.expired?) %>
      <%= button_to t('.remove_product'), false, class: 'p-2 bg-red-400 text-white rounded' %>
    <% end %>
  <% end %>
</div>

<div class='mb-10 flex flex-col gap-2'>
  <% if @product.category.present? %>
    <span><strong><%= t '.category' %>:</strong> <%= @product.category.name %></span>
  <% else %>
    <span><strong><%= t '.category' %>:</strong> <%= t '.without_category' %></span>
  <%end%>
  <span><strong><%= t '.weight' %>:</strong> <%= @product.weight %>g</span>
  <span><strong><%= t '.width' %>:</strong> <%= @product.width %>cm</span>
  <span><strong><%= t '.height' %>:</strong> <%= @product.height %>cm</span>
  <span><strong><%= t '.depth' %>:</strong> <%= @product.depth %>cm</span>

  <div class='flex items-center gap-4'>
    <strong><%= t '.lot' %>:</strong>

    <% if @product.lot.present? %>
      <% if @product.lot.approver.present? %>
        <%= link_to @product.lot.code, @product.lot, class: 'underline hover:text-primary' %>
      <% else %>

        <span class='flex items-center gap-2'>
          <% if user_signed_in? && current_user.is_admin %>
            <%= link_to @product.lot.code, @product.lot, class: 'underline hover:text-primary' %>
            
            <% if @product.lot.expired? %>
              <em class='text-neutral-300'>&lt;<%= t '.expired' %>&gt;</em>
            <% else %>
              <em class='text-neutral-300'>&lt;<%= t '.awaiting_approval' %>&gt;</em>
              <%= button_to t('.unlink_lot_button_text'), unlink_lot_product_path, method: :patch, class: 'p-2 bg-black text-white rounded' %>
            <% end %>
          <% else %>
            <%= @product.lot.code %>

            <% if @product.lot.expired? %>
              <em class='text-neutral-300'>&lt;<%= t '.expired' %>&gt;</em>
            <% else %>
              <em class='text-neutral-300'>&lt;<%= t '.awaiting_approval' %>&gt;</em>
            <% end %>
          <% end %>
        </span>

      <% end %>
    <% else %>
      <%= t '.without_lot' %>

      <% if user_signed_in? && current_user.is_admin %>
        <%= form_with url: link_lot_product_path, method: :patch, id: 'link-lot', class: 'flex flex-row' do |f| %>
          <%= f.collection_select :lot_id, @lots, :id, :get_description, prompt: t('.link_lot') %>
          <%= f.submit t('.link_lot_button_text'), class: 'form-submit m-0' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class='mb-8 flex flex-col gap-4'>
  <h2 class='view-subtitle'><%= t '.product_image' %></h2>

  <% if @product.image.attached? %>
    <%= image_tag @product.image, size: '250', title: @product.name, alt: "imagem #{@product.name}" %>
  <% else %>
    <p class='text-neutral-300'><%= t '.not_found_message' %></p>
  <% end %>
</div>
