<!DOCTYPE html>
<html>
  <head>
    <title>Leilão do Estoque</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <script src="https://kit.fontawesome.com/944f8aa2f6.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-primary">
    <header class="py-6 bg-white">
      <nav class="container m-auto flex items-center justify-between gap-4">
        <%= link_to root_path, class: "flex items-center" do %>
          <i class="fa-solid fa-warehouse text-xl"></i>
          <h1 class="px-4 py-2 text-xl font-bold">Leilão do Estoque</h1>
        <% end %>

        <div id="user-menu" class="flex items-center gap-4">
          <% if user_signed_in? %>
            <% if current_user.is_admin %>
              <span class="p-2 text-white text-xs bg-black rounded">ADMIN</span>
            <% end %>

            <span class="italic"><%= current_user.name %></span>
            <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-user-menu" %>
          <% else %>
            <%= link_to "Inscrever-se", new_user_registration_path, class: "btn-user-menu" %>
            <%= link_to "Entrar", new_user_session_path, class: "btn-user-menu" %>
          <% end %>
        </div>
      </nav>
    </header>

    <main class="container m-auto py-6">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
    </main>
  </body>
</html>
