<!DOCTYPE html>
<html>
  <head>
    <title>Leilão do Estoque</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <script src="https://kit.fontawesome.com/944f8aa2f6.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-primary">
    <header class="py-6 bg-white">
      <nav class="container m-auto flex items-center justify-between gap-4">
        <div class='flex gap-4'>
          <%= link_to root_path, class: "flex items-center" do %>
            <i class="fa-solid fa-warehouse text-xl"></i>
            <h1 class="px-4 py-2 text-xl font-bold">Leilão do Estoque</h1>
          <% end %>
          
          <% if user_signed_in? %>
            <% if user_is_admin? %>
              <%= link_to t('.block_unblock_cpf'), blocked_cpfs_path, class: "btn-user-menu" %>
            <% end %>

            <%= link_to t('.favorite_lots'), favorite_lots_path, class: "btn-user-menu" %>
          <% end %>
        </div>

        <div id="user-menu" class="flex items-center gap-4">
          <% if user_signed_in? %>
            <% if user_is_admin? %>
              <span class="p-2 text-white text-xs font-semibold uppercase bg-black rounded">ADMIN</span>
            <% end %>
            <% if user_cpf_blocked? %>
              <span class="p-2 text-red-900 text-xs font-semibold uppercase bg-red-400 animate-pulse rounded">Sua conta está suspensa</span>
            <% end %>

            <span class="italic"><%= current_user.name %></span>
            <%= link_to t('.log_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-user-menu" %>
          <% else %>
            <%= link_to t('.sign_up'), new_user_registration_path, class: "btn-user-menu" %>
            <%= link_to t('.log_in'), new_user_session_path, class: "btn-user-menu" %>
          <% end %>
        </div>
      </nav>
    </header>

    <main class="container m-auto py-6">
      <%= render 'layouts/notice_alert' %>
      <%= yield %>
    </main>
  </body>
</html>
